


body {
    background-color: rgb(213, 208, 255);
  }
  
  
  /*Links*/
a {
    color: rgb(124, 29, 179);
    font-family: Didot;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }
  a:visited {
    color: rgb(63, 7, 132);
  }
  a:hover {
    background-color: rgba(139, 91, 216, 0.202);
  }
  a:active {
    color: rgb(63, 7, 132);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-family: Stencil Std, fantasy;
    text-align: center;
    letter-spacing: 3px;
    font-size: 45px;
    font-weight: 900;
  }

  
  h2 {
    color: rgb(63, 7, 132);
    font-size: 20;
    font-family:  Stencil Std, fantasy;
    letter-spacing: 2px;
    font-weight: 10;
    margin-bottom: 1px;
    margin-left: 4%;
  }
  
    
  main p {
    font-family: Didot;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-right: 5%;
    margin-left: 5%;
  }

.ty {
  font-size: 20;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 2px;
}

  
  hr {
    border-color: rgb(0, 0, 0);
    border-width: .1px;
    margin-right: 4%;
    margin-left: 4%;
  }
  
  .navfoot {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Didot;
  }
  
  footer a{
    color: rgb(0, 0, 0);
    font-family: Didot;
    font-size: 10px;
  }
  
  footer p {
    font-family: Didot;
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: .5px;
  }
  
  footer {
    text-align: center;
  }
  
  
  