<header>
    <h1>Katrina Wilson ⚊ ITIS 3135 </h1>
    <p>✦ Klutzy Wasp ✦</p>
    <nav class="nav"> 
        <a href="./"> Home</a>
        ❤
        <a href="introduction.html"> Introduction</a>
        ❤
        <a href="contract.html"> Contract</a>
        ❤        
        <a href="https://webpages.charlotte.edu/kwils178/"> Back to Main Site</a>
        ❤
        <!--Dropdown: all HTML work-->
        <div class="subnav">
            <button class="subnav-button">Html<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="tables.html"> Html Tables</a>
                <a href="forms.html"> Html Forms</a>
                <a href="website_evaluations.html"> Website Evalulation</a>
            </div>
        </div>
        ❤
        <!--Dropdown: all Project work-->
        <div class="subnav">
            <button class="subnav-button">Project<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="project_1.html"> Project 1</a>
                <a target="_blank" href="nailsbynami/index.html"> Client Site</a>
            </div>
        </div>
        ❤
        <!--Dropdown: all JavaScript work-->
        <div class="subnav">
            <button class="subnav-button">JScript<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="firstscripts.html"> First Scripts</a>
                <a href="byo_intro.html"> BYO Intro</a>
                <a href="calculator_try.html"> Calculator Try</a>
            </div>
        </div>
        ❤
        <!--Dropdown: all Other work, that is not connected to this one-->
        <div class="subnav">
            <button class="subnav-button"> Other<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a target="_blank" href="wilsonenterprises/index.html">Wilson Enterprises</a>
                <a target="_blank" href="stuff/my❀aMaZiNg(ish)꧂file.htm">Crappy Page</a>
                <a target="_blank" href="hobby/index.html">Hobby</a>
            </div>
        </div>
    </nav>
</header>
