/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Styling for Wilson Enterprises Site <3

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*General and Main Nav. Bar Formatting*/
body {
    background-color: #b5caa2;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 3%;
    margin-top: -1%;
    scroll-behavior: smooth;
}
  
.nav {
    color: rgb(0, 0, 0);
    background-color: #dce3cc;
    font-family: Tahoma;
    font-size: 22px;
    text-align: center;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    word-spacing: 2px;;
    margin-right: 2%;
    margin-left: 2%;
    border-style: solid;
    border-width: 3.5px;
    border-color: #3B5249;
    border-radius: 25%;
    margin-top: -2%;
    margin-bottom: 3%;
    padding: 1%;
}

  
/*Links*/
header a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    letter-spacing: 1px; 
}

a:visited {
    color: #292B31;
}

a:hover {
    background-color: #4e573c74;
    border-style:hidden;
    border-radius: 10%;
    padding: .1%;
}

a:active {
    color: #4e573c;
}

footer a {
    color: #292B31;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
}

footer a:hover {
    background-color: #dce3cc5d;
    padding: .2%;
}

.validator:hover {
    background-color: rgba(255, 255, 255, 0);
    padding: 0%;
}


/*Headers General Formatting*/
h1 {
    color: #222b19;
    font-family: Impact;
    font-size: 60px;
    text-align: center;
    font-weight: 100;
    padding: 1%;
    text-transform:uppercase;
    margin-left: 10%;
    margin-right: 10%;
}

header p {
    color: #292B31;
    font-size: 22px;
    font-family: Tahoma;
    text-align: center;
    font-weight: 600;
    margin-top: -5.5%;
    margin-bottom: 2.5%;
    padding: 1%;
}

main p {
    font-family: Tahoma;
    font-size: 16px;
    color: #292B31;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: -1%;
}
  
h2 {
    color: #4e573c;
    font-size: 44px;
    font-family: Impact;
    text-align: center;
    font-weight: 100;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: -1%;
    margin-bottom: -1%;
}

h3 {
    color: #222b19;
    font-family: Impact;
    font-size: 24px;
    font-weight: 100;
    margin-left: 4%;
    margin-bottom: 2%;
}

h4 {
    color: #292B31;
    font-family: Impact;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
    margin-right: 0%;
    margin-left: 0%;
    letter-spacing: 1.5px;
}


/*Image and Captions Formatting*/
body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
body figcaption {
    font-family: Tahoma;
    font-size: 14px;
    color: #292B31;
    font-style: italic;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

footer img {
    display: inline-block;
}

.headerlogo {
    max-width: 10%;
    max-height: 15%;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 1% 5%;
}
    

/*Homepage Contact Info Formatting*/
.contactus {
    font-family: Tahoma;
    font-size: 18px;
    color: #292B31;
    margin-right: 25%;
    margin-left: 25%;
    padding: 2.5%;
    background-color: #dce3cc;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(to left top, #222b19, #4e573c) 1;
}


/*List Formatting*/
ul {
    margin-top: 2%;
    margin-bottom: 2%;
}

ul li {
    font-family: Tahoma;
    font-size: 16px;
    color: #292B31;
    list-style: square;
    margin-left: 5%;
    margin-top: .3%;
}


/*<hr> Formatting*/
.footerbreak {
    border-color: #222b19;
    border-width: 2.5px;
    margin: 0% 0%;
}
  

/*Footer Formatting*/
footer {
    text-align: center;
    padding-top: 1%;
    background-color: #849e6cb9;
    padding: 1.5%;
    margin-bottom: -3%;
}

footer p {
    font-family: Tahoma;
    font-size: 10px;
    color: #292B31;
    text-align: center;
    margin-top: .5%;
}

.navfoot {
    color: #292B31;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
}