

body {
    background-color: #A4B494;
  }
  
.nav {
    color: rgb(0, 0, 0);
    background-color: #BEC5AD;
    font-family: Tahoma;
    font-size: 22px;
    text-align: center;
    font-variant: all-small-caps;
    letter-spacing: .8px;
    margin-right: 2%;
    margin-left: 2%;
    border-style: ridge;
    border-width: 2.5px;
    border-color: #3B5249;
    border-radius: 15%;
    margin-top: -3%;
    margin-bottom: 3%;
    padding: 1.1%;
}

  
  /*Links*/
header a{
    color: rgb(0, 0, 0);
    text-decoration:none;
    
}
a:visited {
    color: #292B31;
}
a:hover {
    background-color: #4e573c74;
    border-style:hidden;
    border-radius: 10%;
    padding: .1%;
}
a:active {
    color: #4e573c;
}
  
header p {
    color: #292B31;
    font-size: 22px;
    font-family: Tahoma;
    text-align: center;
    font-weight: 600;
    margin-top: -6%;
    margin-bottom: 2.5%;
    padding: 1%;
}

.headerlogo{
    max-width: 10%;
    max-height: max-content;
    position: absolute;
    top: 20px;
    left: 20px;
}

  
h1 {
    color: #222b19;
    font-family: Impact;
    font-size: 60px;
    text-align: center;
    font-weight: 100;
    padding: 1%;
    text-transform:uppercase;
    margin-left: 10%;
    margin-right: 10%;
    text-wrap:wrap;
}
  
h2 {
    color: #4e573c;
    font-size: 35px;
    font-family: Impact;
    text-align: center;
    font-weight: 100;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: -1%;
    margin-bottom: 2.5%;
}

h3 {
    color: #222b19;
    font-family: Impact;
    font-size: 24px;
    font-weight: 100;
    margin-left: 4%;
    margin-bottom: 2%;
}
  
body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
body figcaption{
    font-family: Tahoma;
    font-size: 14px;
    color: #292B31;
    font-style: italic;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
    
main p {
    font-family: Tahoma;
    font-size: 16px;
    color: #292B31;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: -1%;
}

ul {
    font-family: Tahoma;
    font-size: 16px;
    color: #292B31;
    list-style:square;
    margin-left: 2%;
}
  
hr {
    border-color: #222b19;
    border-width: 1.4px;
    margin-right: 2%;
    margin-left: 2%;
}
  
.navfoot {
    color: #292B31;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
}
  
footer a {
    color: #292B31;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
}
  
footer p {
    font-family: Tahoma;
    font-size: 10px;
    color: #292B31;
    text-align: center;
    margin-top: .5%;
}
  
footer {
    text-align: center;
    padding-top: 1%;
}
  
  
  