:root {
    --plum: #270a1e; 
    --palepink: #fedef0;
    --logotext: #ffffff;
    --contenttext: #000000;
    --dustyrose: #955080;
    --paledustyrose: #95508065;
    --palerose: #dc59b540;
    --darkgray: #272727;
    --transwhite: #f7f7ffa4;
}

* {
    margin: 0% 0%;
}


body {
    display: grid; 
    grid-template-columns: 0.5fr 1.5fr 1fr; 
    grid-template-rows: 0.3fr 2.3fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Header Header Header"
      "nav content content"
      "nav footer footer"; 
   

    background-color: var(--palepink);
}

body main div.content{
    grid-area:content;
}

header {
    z-index: 1;
    grid-area: Header;
    height: 160px;
    display: flex;
    flex-flow: column;
    justify-content:flex-end;
    width: 100%;
    background-color: var(--plum);

}

nav{
    grid-area:nav;
    padding-left: 1%;
    background-color: var(--palepink);

}






footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    grid-area:footer;
    padding:1%;
    color: var(--logotext);
    background-color: var(--darkgray);
}

footer p {
    font-size: 16px;
    color: var(--logotext);
    text-align: center;
    padding: 1%;
}



.logo {
    position: absolute; 
    left: -15px;
    top:-15px;
    width:220px;
    z-index: -1;
}


h1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 14px;
    color:var(--logotext);
    font-size: 66px;
    font-weight: 100;
    margin-left:210px;
    margin-bottom: 35px;
    font-variant: all-small-caps;
}

h2 {    
    font-size: 48px;
    margin-left:-5px;
    color:var(--plum);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;

}

h3 {
    color: var(--dustyrose);
    font-size: 26px;
    font-family: "Arial Narrow Bold", sans-serif;
    padding-bottom:.5%;
}


p {   
    font-family: "Arial Narrow", sans-serif;
    font-size: 20px;
    margin-left:5px;
    color:var(--contenttext);
}

p a {
    background-color: var(--paledustyrose);
    padding:.25%;
    border-radius: 10%;
    text-decoration: none;
    color:var(--contenttext);
}

p a:hover {
    background-color: var(--palerose);

}

main img {
    padding:1%;
    display:inline-block;
}

.hometime{
    font-size: 18px;
    font-family: "Arial Narrow", sans-serif;
    padding:1.2%;
    margin-top: 10px;
    margin-right: 10px;
    border: solid 3px var(--contenttext);
    border-radius: 10%;
    width:fit-content;
    float:right;
    background-color: var(--darkgray);
    color: var(--logotext);
}

.contact-info {
    font-family: "Arial Narrow", sans-serif;
    list-style-type: square;
    font-size: 20px;
    border: solid 4px var(--darkgray);
    background-color: var(--transwhite);
    border-radius:5%;
    width:fit-content;
}

.home-info {
    font-family: "Arial Narrow", sans-serif;
    list-style-type:square;
    font-size: 20px;
    margin-left:15px;
}

ul li {
    padding:.5%;
}

.contact-form {
    font-family: "Arial Narrow", sans-serif;
    font-size: 18px;
    margin-left:5%;
}

::placeholder {
    font-family: "Arial Narrow", sans-serif;
    font-size: 18px;
}

.submit-button {
    background-color: var(--dustyrose);
    border: solid 2px var(--darkgray);
    width:100px;
    height:40px;
    color: var(--darkgray);
    font-size: 24px;
    font-weight: 600;
    font-family: "Arial Narrow", sans-serif;
}

.submit-button:hover{
    background-color: var(--transwhite);
    cursor: pointer;
}


table {
    width:300px;
    font-family: "Arial Narrow", sans-serif;
    border-collapse:collapse;
    border: solid 3px var(--contenttext);
    font-size: 22px;
}

table th {
    background-color: var(--dustyrose);
    text-align:left
}

tbody tr:nth-child(odd) {
    background-color: var(--transwhite);
}

td {
    padding:1%
}

.colorwheelpic{
    float:right;
    border:solid 12px var(--darkgray);
    margin-right:10%;
    border-radius:5%;
}
  


main {
    grid-area:content;
    background-color:var(--palepink);
    width:96%;
    border-top: solid 15px var(--contenttext) ;
    z-index: 1;
    padding-left: 4%;
}

.main-nav {
    z-index: 2;
    grid-area:nav;
    background-color: var(--darkgray);
    border-right: solid 8px var(--contenttext);
    border-top: solid 4px var(--contenttext);
    border-bottom: solid 4px var(--contenttext);
    border-bottom-right-radius: 5%;
    line-height: 40px;
    max-height:fit-content;
    width:100%;
}

.main-nav a {
    display:block;
    font-variant: small-caps;
    text-decoration: none;
    color: var(--logotext);
    font-size: 36px;
    background-color: transparent;
    padding: 4% 2%;
    font-weight:600;
    border-bottom: 2.5px solid var(--contenttext);
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
}


.main-nav a:hover{
    background-color:  rgba(255, 255, 255, 0.08);
    color: var(--dustyrose);
}

/*Slides*/
#port {
    overflow-x: hidden;
}

.slideshow-container{
    width: 100%;
    margin-left: 20%;
    
  }
  .slideshow {
    list-style-type: none;
  }
  .slideshow-item{
    list-style-type: none;
    height: 600px;
    width: 400px;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    position: absolute;
  }
  .slideshow-item.active{
    opacity: 1;
    transition-delay: 0ms;
  }
  .slideshow-item > img{
    display: block;
    width: 100%;
    height: 100%;
    object-position: center; 
     
  }
  .slideshow-btn{
    font-family: Tahoma;
    font-variant: small-caps;
    border:none;
    background:none;
    font-size: 42px;
    font-weight: 900;
    color: var(--darkgray);
    border-radius: 15%;
    margin-top: 600px;
    margin-left:9%;
  }
  
  .slideshow-btn:hover{
    cursor:pointer;
    color:var(--dustyrose);
  }
  
  .slideshow-nav{
    display:inline-flex;
    justify-content: center;
    gap: 0.7rem;
    margin-left:16%;

  }
  .nav-item{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    height: 25px;
    width: 30px;
    padding: .3%;
    color: var(--contenttext);
    font-size: 18px;
    text-align: center;
    background-color:var(--transwhite);
    border-radius: 15%;
    transition: 300ms opacity ease-in-out;
  }
  .nav-item:hover{
  cursor: pointer;
  }
  .nav-item.active{
    background-color:var(--paledustyrose);
  }
  
  

/*Color Pallete*/

