:root {
    --darkback: #272727; 
    --lightback: #9ca7b2;
    --logotext: #ECE6DB;
    --lightblue: rgb(132, 151, 198);
    --darkblue: rgb(13, 30, 75);
}

* {
    background-color: var(--darkback);
    margin-top: 1%;
    margin-bottom: -1%;

}

body {
    overflow-x:hidden;
}

.logo {
    width: 220px;
    position: absolute; 
    left: -55px;
    top:-65px;
    padding-left: 4%;
}



h1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 12px;
    color:var(--logotext);
    font-size: 66px;
    font-weight: 100;
    float:top;
    margin-left:210px;
    margin-top: -1%;
    font-variant: all-small-caps;
    z-index: 1;
}

h2 {    
    position: relative;
    left: 210px;
    padding-bottom: -2%;
    z-index:5;
    font-size: 46px;
    font-family: "Arial Narrow", sans-serif;
    background-color: transparent;
}

h3 {
    position: relative;
    color: var(--darkblue);
    padding:1% 0%;
    left: 210px;
    z-index:5;
    font-size: 26px;
    font-family: "Arial Narrow", sans-serif;
    background-color: transparent;
}

p {   
    background-color: transparent;
    color:var(--darkback);
    position: relative;
    left: 220px;
    z-index:5;
    margin-right: 20%;
    font-family: "Arial Narrow", sans-serif;
    font-size: 22px;
}

main img {
    padding:2%;
    background-color: transparent;
    z-index:6;
    margin-left:210px;
    display:block;

}

em, strong {
    background-color: transparent;

}


main {
    position: relative;
    background-color:var(--lightback);
    width:102vw;
    margin:-3% -1%;
    top:-290px;
    z-index: 1;
    border-top: solid 15px black ;
    margin-bottom: -20%;
}

.main-nav {
    position:sticky;
    top: 125px;
    width:190px;
    height:340px;
    background-color: #272727c1;
    border-right: solid 8px black;
    border-left: solid 8px black;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    border-radius: 5%;
    z-index: 2;
    line-height: 33px;
    margin-left: -.9%;

}

.main-nav a {
    display:block;
    text-decoration: none;
    color: var(--logotext);
    font-size: 26px;
    background-color: transparent;
    padding: 4% 2%;
    font-weight:600;
    border-bottom: 2.5px solid black;
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
}

#home-nav {
    border-top-width: 15px;
}


.main-nav a:hover{
    background-color:  rgba(255, 255, 255, 0.08);
    color: var(--lightblue);
}

footer {
    z-index: 6;
    float:bottom;
    width:102vw;
    height:80px;
    padding:1%;
    text-align: center;

    background-color: var(--darkblue);
}


.createdby {
    position:sticky;
    background-color: transparent;
    color: var(--logotext);
    z-index: 6;
}



