/****************************

Styling for ITIS-3135 Site <3

*****************************/

/*General and Nav. Bar Formatting*/
body {
  background-color: rgb(255, 190, 220);
}

.nav {
  color:  rgb(188, 35, 89);
  font-size: 14px;
  border: 2.8px solid black;
  border-radius: 25%;
  border-right: 5px dotted black;
  border-left: 5px dotted black;
  text-align: center;
  margin-top: -15px;
  margin-right: 1%;
  margin-left: 1%;
  padding: .9%;
  letter-spacing: 2px;
  background-color:  rgba(255, 225, 236, 0.373);
}

/* Tposition button on main nav */
.subnav {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -8px;
  padding:.3%;
}

/* Subnav button */
 .subnav-button {
  font-size: 16px;
  background-color: rgba(156, 38, 79, 0.425);
  cursor:pointer;
  text-decoration: none;
  font-family: Stencil Std, fantasy;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2.15px;
  font-variant: small-caps;
  border: solid 1.75px black;
  border-radius: 12%;
  width:80px;
}

/* hovering over the button */
 .subnav:hover .subnav-button {
  background-color: rgb(188, 35, 89);
  border-radius: 12%;
}

/* stuff in the dropdown */
.subnav-content {
  display: none;
  position: absolute;
  text-align: right !important;
  transform: translate(-50%, 0) !important;
  background-color: rgb(189, 117, 151);
  width:15%;
  z-index: 1;
  margin-top: .85px;
}

/* links of stuff in the dropdown */
.subnav-content a {
  float: right;
  border-radius: 0%;
  padding: 6% 4%;
  margin: 0;
}

/* hovering over each subbox, the links */
.subnav-content a:hover {
  background-color: rgba(255, 225, 236, 0.373);
  border-radius: 0%;
  width: 92%;
}

/* Actual full down box */
.subnav:hover .subnav-content {
  display: block;
  border: solid 1.8px black;
  border-radius: 0%;
}

a {
  border-radius: 12%;
}

/*Header Links Formatting*/
.nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Stencil Std, fantasy;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2.15px;
  font-variant: small-caps;
}

a:visited {
  color: rgb(68, 7, 45);
}

a:hover {
  background-color: rgba(203, 123, 160, 0.592);
}

a:active {
  color: rgb(68, 7, 45);
}

h3 a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


/*Headers General Formatting*/
h1 {
  color: rgb(0, 0, 0);
  font-family: Stencil Std, fantasy;
  text-align: center;
  letter-spacing: 3px;
  font-size: 45px;
  font-weight: 900;
}

header p { /*'subtext' under h1*/
  color: rgb(68, 7, 45);
  font-family: Stencil Std, fantasy;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 500;
  margin-top: -28px;
  text-align: center;
}

h2 {
  color: rgb(156, 38, 79);
  font-size: 38px;
  margin-top: 18px;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 4px;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 900px;
  margin-bottom: 1%;
  margin-top: -15px;
}

.formstitle {
  font-size: 26px;
  font-family:  fantasy;
  letter-spacing: 2px;
  font-weight: 200;
  margin-left: 2%;
  margin-bottom: 2px;
  margin-top: -15px;
}

h4{
  font-family: Didot;
  font-size: 18px;
  color: rgb(110, 14, 73);
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-top: 1%;
  margin-bottom: -1%;
}

/*Body Image Formatting*/
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24px;
}

body figcaption {
  font-family: Didot;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}


/*Main General Formatting*/  
main {
  font-family: Didot;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 5%;
  margin-left: 5%;
}

main p {
  font-family: Didot;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 5%;
  margin-left: 5%;
}


/*Footer Formatting*/
footer {
  text-align: center;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 1px;
  font-family: Didot;
  font-size: 10px;
}

footer p, .footercompany { /*copyright*/
  font-family: Didot;
  font-size: 9px;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: .4px;
}

footer img {
  margin: auto;
  display: inline-block;
}

footer hr {
  border-color: rgb(0, 0, 0);
  border-width: .1px;
  margin-right: 5%;
  margin-left: 5%;
}

.navfoot { /*link seperators*/
  color: rgb(156, 38, 79);
  text-align: center;
  letter-spacing: 1.7px;
  font-family: Didot;
}


/*Table Formatting*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td { /*table headers and data boxes*/
  border: 1.2px solid #000000;
  font-family: Didot;
  font-size: 16px;
  padding: 6px;
  text-align: left;
}

th { /*table headers*/
  background-color: rgb(181, 72, 110);
  color: rgb(0, 0, 0);
  font-family: Didot;
  font-size: 18px;
}

.category { /*makes category column all one color*/
  font-weight: bold;
  background-color:rgb(228, 157, 190);
}

tr:nth-child(odd) { /*alternating row colors*/
  background-color: rgba(255, 225, 236, 0.373);
}


/*HTML Form Formatting*/
.otherspec { /*text area under 'Main Reason...' */
  font-family: Didot;
  height:60px; 
  width: 45%;
  resize: vertical; 
  font-size: 14px;
  margin-left: 5%;
}

.feedback { /*text area under 'Is there anything...'*/
  font-family: Didot;
  height: 120px; 
  width: 100%;
  resize: vertical; 
  font-size: 14px;
}

.submit-button {
  background-color: rgb(188, 35, 89);
  border-color: rgb(121, 19, 55);
  height: 30px; 
  width: 80px;
  font-size: 18px;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 2px;
  text-align: center;
}

.submit-button:hover {
  background-color:  rgb(126, 31, 64); 
}

.reset-button {
  background-color: rgb(225, 214, 218);
  border-color: #979797;
  height: 30px; 
  width: 80px;
  font-size: 18px;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 2px;
  text-align: center;
}

.reset-button:hover {
  background-color: #787676; 
}

form {
  font-family: Didot;
  font-size: 16px;
  margin-right: 2%;
  margin-left: 2%;
  background-color: rgba(156, 38, 79, 0.199);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1px;
  padding-bottom: 5%;
}

input::placeholder {
  font-family: Didot;
  font-size: 14px;
}

select { /*dropdown, select one*/
  font-family: Didot;
  font-size: 14px;
  height: 26px; 
  width: 38%;
  margin-bottom: 4px;
}

.formbreak { /*dark-red page divider*/
  border-style: solid;
  border-color: rgb(156, 38, 79);
  border-width: 1.2px;
  margin-right: -5%;
  margin-left: -5%;
}

.smallbreak {
  border-style: solid;
  border-color: rgb(156, 38, 79);
  border-width: 1.75px;
  margin-right: 35%;
  margin-left: 35%;
}

/*Lists*/

ul {
  margin-bottom: 2%;
  margin-top: 2%;
}

ul li {
  list-style: square;
  padding: .5%;
}
