/****************************

Styling for ITIS-3135 Site <3

*****************************/

/*Color Variables*/
:root {
  /*Lighter*/
  --mainpink: #ffbedc;
  --brightrose: #bc2359;
  --dullpastelpink: #cb7ba097;
  --pastelpink: #e49dbe;
  --babypink: #ffe1ec5f;
  --pink: #9c264f33;
  --milpink: #bd7597;
  
  /*Vibrant*/
  --rose: #bc2064;
  --darkerrose: #931f52;
  --rosehover: #9a2155;
  --raspberry: #9c264f;
  --dustyrose: #b5486e;
  --magenta: #6e0e49;
  
  /*Purples*/
  --darkpurple: #44072d;
  --plum: #7e1f40;
  --dustyplum: rgb(189, 117, 151);

  /*Greys*/
  --lightgrey: #e1d6da;
  --grey: #979797;
  --darkergrey: #787676;
}

/*General and Main Nav. Bar Formatting*/
body {
  background-color: var(--mainpink);
}

.nav {
  color:  var(--brightrose);
  font-size: 14px;
  border: 2.8px solid black;
  border-radius: 25%;
  border-right: 5.5px dotted black;
  border-left: 5.5px dotted black;
  text-align: center;
  margin-top: -15px;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 1.2%;
  padding-bottom: 1.5%;
  padding-left: .75%;
  padding-right: .75%;
  letter-spacing: 2px;
  background-color:  var(--babypink)
}


/*Sub-Navigation Formatting*/
.subnav { /* Position button on main nav */
  overflow: hidden;
  display: inline-block;
  margin-bottom: -9px;
  padding:.3%;
}

 .subnav-button { /* Subnav button */
  font-size: 16px;
  background-color:  rgba(255, 225, 236, 0.8);
  text-decoration: none;
  cursor: pointer;
  font-family: Stencil Std, fantasy;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2.15px;
  font-variant: small-caps;
  border: solid 1.75px black;
  border-radius: 12%;
  width:80px;
}

.subnav-content { /* stuff in the dropdown */
  display: none;
  position: absolute;
  float: right;
  text-align: right !important;
  text-wrap: nowrap;
  transform: translate(-50%, 0) !important;
  background-color: var(--milpink);
  width:15%;
  z-index: 1;
  margin-top: .85px;
}


/*Different Links Formatting*/
a {
  border-radius: 12%;
  padding: .4%;
}

.nav a { /*main nav. bar links*/
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Stencil Std, fantasy;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2.15px;
  font-variant: small-caps;
}

a:visited {
  color: var(--darkpurple);
}

a:hover {
  background-color: var(--dullpastelpink);
}

a:active {
  color: var(--darkpurple);
}

h3 a { /*h3 links*/
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color:  var(--babypink);
  padding:2px;
}

.subnav-content a { /* links of stuff in the dropdown */
  border-radius: 0%;
  padding: 6% 4%;
  margin: 0;
  display: block;
}

.subnav-content a:hover { /* hovering over each subbox */
  background-color: var(--babypink);
  border-radius: 0%;
  width: 92%;
  display: block;
}

.subnav:hover .subnav-button { /* hovering over the button */
  background-color: var(--raspberry);
  display: block;
  border-radius: 12%;
}

.subnav:hover .subnav-content { /* Actual full down box */
  display: block;
  border: solid 1.8px black;
  border-radius: 0%;
}

footer a { /*footer links*/
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 1px;
  font-family: Didot;
  font-size: 12px;
}

.validcheck:hover {
  background-color: #78767600; 
}


/*Headers General Formatting*/
h1 {
  color: rgb(0, 0, 0);
  font-family: Stencil Std, fantasy;
  text-align: center;
  letter-spacing: 3px;
  font-size: 45px;
  font-weight: 900;
}

header p { /*'subtext' under h1*/
  color: var(--darkpurple);
  font-family: Stencil Std, fantasy;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 500;
  margin-top: -28px;
  text-align: center;
}

h2 {
  color: var(--raspberry);
  font-size: 38px;
  margin-top: 18px;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 4px;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 1%;
  margin-top: -15px;
}

.formstitle { /*h3 customized for forms title*/
  font-size: 26px;
  font-family:  fantasy;
  letter-spacing: 2px;
  font-weight: 200;
  margin-left: 2%;
  margin-bottom: 2px;
  margin-top: -15px;
}

.byotitle { /*h3 customized for BYO forms title*/
  font-size: 22px;
  font-family:  fantasy;
  letter-spacing: 2px;
  font-weight: 200;
  margin-left: -2%;
  margin-bottom: 1%;
  margin-top: 3%;
}

h4 {
  font-family: Didot;
  font-size: 18px;
  color: var(--magenta);
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-top: 1%;
  margin-bottom: -1%;
}

/*Body Image Formatting*/
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24px;
}

body figcaption {
  font-family: Didot;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}


/*Main General Formatting*/  
main {
  font-family: Didot;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 5%;
  margin-left: 5%;
}

main p {
  font-family: Didot;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 5%;
  margin-left: 5%;
}


/*Footer Formatting*/
footer {
  text-align: center;
  background-color: var(--babypink);
  margin-right: -.75%;
  margin-left: -.75%;
  margin-bottom: -5%;
  padding-bottom: 1%;
}

footer p, .footercompany { /*copyright*/
  font-family: Didot;
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: .8px;
  padding: 0%;
}

footer img {
  margin: auto;
  display: inline-block;
}

.navfoot { /*link seperators*/
  color: var(--raspberry);
  text-align: center;
  letter-spacing: 1.7px;
  font-family: Didot;
}


/*Table Formatting*/
table {
  border-collapse: collapse;
  width: 100%;
}

th { /*table headers*/
  background-color: var(--dustyrose);
  color: rgb(0, 0, 0);
  font-family: Didot;
  font-size: 18px;
}

th, td { /*table headers and data boxes*/
  border: 1.2px solid #000000;
  font-family: Didot;
  font-size: 16px;
  padding: 6px;
  text-align: left;
}

.category { /*makes category column all one color*/
  font-weight: bold;
  background-color:var(--pastelpink);
}

tr:nth-child(odd) { /*alternating row colors*/
  background-color: var(--babypink);
}


/*HTML Form Formatting*/
form {
  font-family: Didot;
  font-size: 16px;
  margin-right: 2%;
  margin-left: 2%;
  background-color: var(--pink);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1px;
  padding-bottom: 5%;
}

select { /*dropdown, select one*/
  font-family: Didot;
  font-size: 14px;
  height: 26px; 
  width: 38%;
  margin-bottom: 4px;
}

input::placeholder {
  font-family: didot;
  font-size: 14px;
}

.otherspec { /*text area under 'Main Reason...' */
  font-family: Didot;
  height:60px; 
  width: 45%;
  resize: vertical; 
  font-size: 14px;
  margin-left: 5%;
}

.feedback { /*text area under 'Is there anything...'*/
  font-family: Didot;
  height: 120px; 
  width: 100%;
  resize: vertical; 
  font-size: 14px;
}

textarea {
  font-family: didot;
  height:100px;
  width: 60%;
}

.introForm #name, #mascot {
  width:200px;
}

.introForm #courses {
  width:300px;
}

.introForm #caption {
  width:100%;
}




/*Button Formatting*/
.submit-button {
  background-color: var(--rose);
  border-color: var(--darkerrose);
  height: 30px; 
  width: 80px;
  font-size: 18px;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 2px;
  text-align: center;
}

.submit-button:hover {
  background-color:  var(--rosehover); 
  cursor: pointer;
}

.reset-button {
  background-color: var(--lightgrey);
  border-color: var(--grey);
  height: 30px; 
  width: 80px;
  font-size: 18px;
  font-family:  Stencil Std, fantasy;
  letter-spacing: 2px;
  text-align: center;
}

.reset-button:hover {
  background-color: var(--darkergrey); 
  cursor: pointer;
}

.crs-add-button {
  background-color: var(--rose);
  border-color:  var(--darkerrose);
  height: 24px; 
  width: 100px;
  font-size: 16px;
  font-weight: 900;
  font-family:  didot;
  text-align: center;
}

.crs-add-button:hover {
  background-color:  var(--rosehover); 
  cursor: pointer;
}

.CRSdelete {
  background-color: var(-lightgrey);
  border-color: var(--grey);
  height: 22px; 
  width: 80px;
  font-size: 14px;
  font-weight: 900;
  font-family:  didot;
  text-align: center;
}

.CRSdelete:hover {
  background-color: var(--darkergrey); 
  cursor: pointer;
}

.salary-button {
  background-color: var(--rose);
  border-color:  var(--darkerrose);
  height: 30px; 
  width: 100px;
  font-size: 14px;
  font-weight: 900;
  font-family:  Didot;
  text-align: center;
}

.salary-button:hover {
  background-color:  var(--rosehover); 
  cursor: pointer;
}

.disp-button {
  background-color: var(--lightgrey);
  border-color: var(--grey);
  height: 30px; 
  width: 150px;
  font-size: 14px;
  font-weight: 900;
  font-family:  didot;
  text-align: center;
}

.disp-button:hover {
  background-color: var(--darkergrey); 
  cursor: pointer;
}


/*<hr> Formatting*/
.formbreak { /*dark-red page divider*/
  border-style: solid;
  border-color: var(--raspberry);
  border-width: 1.2px;
  margin-right: -5%;
  margin-left: -5%;
}

.smallbreak {
  border-style: solid;
  border-color: var(--raspberry);
  border-width: 1.75px;
  margin-right: 35%;
  margin-left: 35%;
}

footer hr {
  border-color: var(--darkpurple);
  border-width: 1px;
  margin-right: 0%;
  margin-left: 0%;
}


/*List Formatting*/
ul {
  margin-bottom: 2%;
  margin-top: 2%;
}

ul li {
  list-style: square;
  padding: .5%;
}

ol {
  margin-bottom: 1%;
  margin-top: 1%;
}

ol li {
  padding: .5%;
}

.sublist {
  list-style:circle;
}

.sub-ol {
  list-style: lower-alpha;
  margin-bottom: 0%;
  margin-top: .5%;
}


/*Scroll Bar*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

  /* Track */
  ::-webkit-scrollbar-track {
  background: #ffffff;
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: var(--magenta);
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(69, 9, 46);
}


/* Calculator Try */
.full {
  position: relative;
  border: 5px solid black;
  height:520px;
  width: 60%;
  margin:0% 20%;
  background-color: #ffffff65;
}

.display {
  border: 2px solid black;
  height:130px;
  position: sticky;
  background-color:rgba(255, 255, 255, 0.616);
  border-bottom-width: 12px;
}

.digit-wrapper {
  border: 3px solid rgb(0, 0, 0);
  width:65%;
  height:250px;
  border-top-color: transparent;
  border-left-color: transparent;
  position: absolute;
  background-color: rgb(200, 128, 162);
}

.digit {
  font-size: 36px;
  font-family: impact;
  height:80px;
  width:30%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
  margin: .5% 1%;

}

.operation-wrapper{
  position: sticky;
  top: 0;
  float:right;
  height:250px;
  width:25%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(200, 128, 162);
  border-top-color: transparent;
  border-right-color: transparent;
}

.operation {
  font-size: 36px;
  font-family: impact;
  text-align: center;
  height:60px;
  width:100%;
  margin: 1% 2%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
}

.operation:hover, .decimal:hover, .digit:hover {
  background-color: #b6b6b6;
  cursor: pointer;
}

.other-wrapper{
  position: absolute;
  bottom: 0%;
  border-top: 3px solid rgb(0, 0, 0);
  width:100%;
  height:95px;
  background-color: rgb(200, 128, 162);
}

.equal {
  float:right;
  height: 80px;
  width:55%;
  font-family: impact;
  font-size: 36px;
  border: 2px solid black;
  border-radius: 20%;
  margin: 1% .5%;
}

.all-clear {
  font-family: impact;
  font-size: 36px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
  height:80px;
  width:20%;
  float:left;
  margin: 1% .5%;
}

.decimal {
  font-family: impact;
  font-size: 36px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
  height:80px;
  width:20%;
  margin: 1% .5%;
}

.equal:hover{
  background-color: rgb(77, 10, 51);
  cursor: pointer;
}

.all-clear:hover{
  background-color: rgba(141, 7, 41, 0.788);
  cursor: pointer;
}





