/**/
:root {
  /*Lighter*/
  --darkred: #600a15;
  --darkerred:#3f060e;
  --charcoal: #403639;
  --lightgray: #d7d6d6;
  --hovergray:rgba(234, 232, 232, 0.229);

}


* {
  margin: 0% 0%;
  overflow-x: hidden;
}


body {
  background-color: black;
}


header {
  height: 100px;
  width: 100%;
  background-color: var(--darkred);
  padding:1%;
}

.headersearch {
  left: 55%;
  padding: .5%;
  top: 50px;
  position:absolute;
  width: 15%;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.logo {
  height: 200%;
  margin-left:-45px;
  margin-top: -45px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.479);
  padding: 1.5%;
  top: -.75%;
  right: 0%;
  position:absolute;
  width: 20%;
  height: 14%;
  border-left-style: double;
  border-left-width: 15px;

}


.nav a {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.nav a:hover {
  background-color: var(--hovergray);
  border-radius: 15%;
}

.nav a:visited {
  color: var(--lightgray);
}

main {
  background-color: var(--lightgray);
  margin-top: 2%;
  padding-left: 1.5%;
}


footer {
  position: sticky;
  text-align: center;
  bottom: 0;
  left:0;
  width: 100%;
  height: 50px;
  padding:1%;
  background-color: rgba(88, 11, 11, 0.545);
}

footer p {
  color:white;
  font-family: 'Courier New', Courier, monospace;
  
}
    

/*Video stuff*/
#homePageVideo {
  width: 115%;
  margin-left: -5%;
}

.homepage {
  background-color: black;
  position: absolute;
  top: 16%;
  left: 0%;
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  z-index: 1;
}

.homepage h1 {
  color: white;
  text-align: center;
  font-size: 44px;
  font-family: fantasy;
  letter-spacing: 5px;
}

.homepage h2 {
  color: var(--darkred);
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
  letter-spacing: 3px;
}

.homepage h3 {
  padding: 2%;
  font-family: fantasy;
  font-weight: 100;
  text-align: center;
  font-size: 38px;
  letter-spacing: 3px;
}

.homepage a {
  border-style: solid;
  border-radius: 10%;
  padding: 1%;
  text-decoration: none;
  background-color: #3f060eab;
  color: white;
}

.homepage a:hover{
  background-color: var(--hovergray);
  border-radius: 10%;
}





 